<% provide(:title, "Create Service")%>
<div class="flex items-center justify-between pb-6 border-b mb-6">
  <h1 class="text-5xl font-bold text-gray-700">Create Service</h1>
</div>

<%= render "form" %>
