<h1>Booking Receipt</h1>

<p>Hi, <%= @user.name %>,</p>

<p>
  Here is the receipt confirmation that you're booking to <b><%= @receipt.booking.service.name %></b> is currently being processed. You'll receive another confirmation if it's being served.

  If you have any further questions, please contact us and provide your receipt id#<%= @receipt.id %>, upon inquiry. 
</p>

<p>Regards,</p>