<div class="mb-6">
  <h1 class="font-bold text-4xl text-sky-700">Page not found!</h1>
  <p class="text-gray-600 font-normal ">The page you're looking seems to not exist, please click the button to get back to previous page.</p>
</div>

<%= link_to "Back", :back, class: button_class(theme: "primary") %>