<% provide(:title, "Billing")%>
<div class="flex items-center justify-between pb-6 border-b mb-6">
  <h1 class="text-5xl font-bold text-gray-700">Billing information</h1>
  <%= link_to 'New billing', new_billing_path, class: button_class(theme: "primary", variant: "large") %>
</div>

  <div id="billings" class="min-w-full">
    <%= render @billings %>
  </div>
</div>
